.wp-block-via-cep-block {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    max-width: 100%;
    box-sizing: border-box;

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1em;
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.9em;
        }
    }
}
